nav {
    background:rgba(37, 37, 37, 0.945);
    display:flex;
    justify-content:center;
}
#navInner {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:nowrap;
    min-width:600px;
    width:800px;
}
#appleLogo,
#shopcarticon {
    height:44px;
    width:100%;
}
.navitem {
    padding-top:12px;
}
.navtext {
    font-family:helvetica;
    font-size:13.5px;
    color:lightgrey;
    text-decoration:none;
    
}
#searchcontainer {
    height: 44px;
    overflow:hidden;
}
#searchicon {
    height:88px;
}
#shopcartcontainer {
    height:20px;
}



.navleft {
    padding-left:20px;
}
.navright {
    padding-right:20px;
}